<main class="about container">
  <div class="container justify-content-center">
    <h2 class="display-4">The Reading Room</h2>
    <div class="container">
      <p>The Reading Room was created during the 2020 COVID-19 pandemic as a way to foster a sense of community.  The spirit of the app is to provide a social connection for people of all ages, but especially older adults who may be more likely to live alone and become isolated when spending long stretches of time at home.</p>

      <p>Children, or anyone else interested in attending a reading, may share a private virtual room with the adult reader.  Both a visual and audio stream are provided, as well as selection of over fifty fairy tale stories.  Both parties are able to read through the story text together and socialize while remaining healthy and safe in their own homes.</p>
    </div>
  </div>

  <div class="about container">
  <h2 class="display-4">Our Team</h2>
    <ul class="list-group">
      <li class="list-group-item">
        <h5>Mae LaPresta</h5>
        <p>Mae has always been a voracious reader and maintains a “healthy” amount of to-be-read books in her library. In middle school, she was a volunteer librarian in her school, and spent her recess periods shelving books/reading them. She misses thee library while in quarentine, but has been borrowing books through Hoopla and Libby--thank goodness for technology! She really hopes you enjoy this app, as she was very excited to work on it!</p>
      </li>
      <li class="list-group-item">
        <h5>Manda Jensen</h5>
        <p>Manda is a current student at Oregon State University studying in the post-bacc Computer Science program. She loves reading books to her four (soon to be six!) neices and nephews and can appreciate doing so remotely since they do not live close. She recommends baking up a batch of cookies on both ends of the video chat so you can appreciate a sweet treat to go along with the story. A good chocolate chip cookie with a glass of milk loves nothing more than to be paired with a fairy tale!</p>
      </li>
      <li class="list-group-item">
        <h5>Elizabeth Tackett</h5>
        <p>Elizabeth has maintained a life-long love of reading, and now hopes to pass that love down to her children.  The Reading Room app is especially exciting to Elizabeth, as she is under quarantine with her two young kids who miss reading with their distant grandparents very much.  When not developing a new app idea, Elizabeth spends her time eating large quantities of mexican food and listening to true-crime podcasts.</p>
      </li>
    </ul>
  </div>
</main>
