<main class="about container">
  <div class="container justify-content-center">
    <h2 class="display-4">The Reading Room</h2>
    <div class="container">
      <p>The Reading Room was created during the 2020 COVID-19 pandemic as a way to foster a sense of community.  The spirit of the app is to provide a social connection for people of all ages, but especially older adults who may be more likely to live alone and become isolated when spending long stretches of time at home.</p>

      <p>Children, or anyone else interested in attending a reading, may share a private virtual room with the adult reader.  Both a visual and audio stream are provided, as well as selection of over fifty fairy tale stories.  Both parties are able to read through the story text together and socialize while remaining healthy and safe in their own homes.</p>
    </div>
  </div>

  <div class="about container">
  <h2 class="display-4">Our Team</h2>
    <ul class="list-group">
      <li class="list-group-item">
        <h5>Mae LaPresta</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </li>
      <li class="list-group-item">
        <h5>Manda Jensen</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </li>
      <li class="list-group-item">
        <h5>Elizabeth Tackett</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </li>
    </ul>
  </div>
</main>
