<div class="jumbotron text-center">
  <h1 class="display-3">Welcome!</h1>
  <p class="lead"><strong>You may enter the room now, or check your email for the link to this page, and return later.</p>
  <hr>
</div>
Email Provided: {{room.email}}
You have chosen to read {{room.title}}.
<br />
If you are the listener:
<a href="/listenerRoom/{{room.UIUD}}" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Enter Here</a>
<br />
<h3>Reader Link:</h3>
\readerRoom\ {{room.UIUD}}
