<main>
  <div class="jumbotron jumbotron-fluid aqua-gradient">
    <div class="masthead container">
      <h1 class="display-4" id="site-heading">The Reading Room</h1>
      <h2 class="display-5">Click below to open a new room</h2>
      <button type="button" class="btn btn-light btn-lg" id="new-room">Start A Session</button>
    </div>
  </div>
  <div class="homepage container">
    <p>Welcome to The Reading Room!  We are glad you're here.  The Reading Room is a fun way to connect book-lovers of all ages.  We provide over fifty classic Grimm's fairy tales including Hansel and Gretel, Rapunzel, The Frog Prince, and many more.</p>

    <p>The first step to enjoying a good story with another user is to open a new reading room.  These virtual rooms provide a private way for users to interact on video, and view the story text together.  You may exchange id's with other users in order to call them, connect, and start reading!</p>

    <div class="container">
      <h5>What you need to participate:</h5>
      <ul class="list-group">
        <li class="list-group-item">&#8227; Computer with Internet connection</li>
        <li class="list-group-item">&#8227; Built-in or external web camera</li>
        <li class="list-group-item">&#8227; Built-in computer speakers, external speakers, or headphones</li>
        <li class="list-group-item">&#8227; Built-in or external microphone</li>
      </ul>
    </div>

    <p>To keep The Reading Room user-friendly and accessible for users of all ages and technical abilities, we don't require users to sign up and create an account with an email and password.  But don't worry-- your unique room id and user id will keep your reading room private.</p>
    <p></p>
  </div>
</main>
