<main class="young-passion-gradient">
  <div class="container">
      <div class="jumbotron jumbotron-fluid">
          <div class="container">
              <h1 class="display-4">Reading Room Library</h1>
              <p class="lead">Our Library includes text versions of many Grimm's Fairy Tale stories. The list of available stores is below. Click on the link to download a text file of the story to preview the book before selecting it for your Reading Room.</p>
          </div>
      </div>
      <ul class="list-group">
        {{#each stories}}
          <li class="list-group-item list-group-item-action">
            <a href="txt/{{file}}.txt" download>{{title}}</a>
          </li>
        {{/each}}
      </ul>
  </div>
</main>
