<h2>Welcome to your reading room!</h2>

<div class="container" id="copyButton">
  <button id="copyLink" value="copyLink">Copy Link to Send to User</button>
</div>

<div class="video-container">
  <video autoplay id="remote-video"></video>
  <video autoplay id="local-video"></video>
</div>
