<h2 id="welcome">Welcome to your reading room!</h2>

<div class="video-container">
  <div class="row">
    <div class="col-sm">
      Remote
      <video autoplay id="remote-video"></video>
    </div>
    <div class="col-sm">
      Local
      <video autoplay id="local-video" muted></video>
    </div>
  </div>
</div>


<div id="storyCarousel" class="carousel slide carousel-fade" data-wrap="false" data-interval="false">
  <ol class="carousel-indicators">
    <li data-target="#storyCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#storyCarousel" data-slide-to="1"></li>
    <li data-target="#storyCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="jumbotron jumbotron-fluid" style="margin-bottom: 0px">
        <h1 class="display-4">Book Title</h1>
      </div>
    </div>
    <div class="carousel-item">
      <div class="jumbotron jumbotron-fluid" style="margin-bottom: 0px">
        <h2 class="display-4">Sentece 1</h2>
      </div>
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="..." >
    </div>
  </div>
  <a class="carousel-control-prev" href="#storyCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#storyCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



<span id = "displayId"></span>
<input type="text" id="connId" class="form-control" placeholder"enter connection id" required>
<button type="button" id='conn_button' class="btn btn-success">Connect</button>
<button type="button" id='call_button' class="btn btn-alert">Call</button>
<button type="button" class="btn btn-danger">Stop</button>
</div>
