<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><i class="fas fa-book-reader"></i>The Reading Room</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/library">Library</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/schedule">Schedule Session<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">About Us</a></li>
      </ul>
    </div>
  </nav>


  <h1>The Reading Room</h1>

</header>

<main>

<div>
  <h2>Schedule New Session</h2>
  <button id="new-room">Clicky</button>
</div>
<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="storyTitle">Story</label>
    <select class="form-control" id="storyTitle">
      <option value="THE GOLDEN BIRD">The Golden Bird</option>
      <option value="HANS IN LUCK">Hans In Luck</option>
      <option value="JORINDA AND JORINDEL">Jorinda And Jorindel</option>
      <option value="THE TRAVELLING MUSICIANS">The Travelling Musicians</option>
      <option value="OLD SULTAN">Old Sultan</option>
      <option value="THE STRAW, THE COAL, AND THE BEAN">The Straw, The Coal, And The Bean</option>
      <option value="BRIAR ROSE">Briar Rose</option>
      <option value="THE DOG AND THE SPARROW">The Dog And The Sparrow</option>
      <option value="THE TWELVE DANCING PRINCESSES">The Twelve Dancing Princesses</option>
      <option value="THE FISHERMAN AND HIS WIFE">The Fisherman And His Wife</option>
      <option value="THE WILLOW-WREN AND THE BEAR">The Willow-Wren And The Bear</option>
      <option value="THE FROG-PRINCE">The Frog-Prince</option>
      <option value="CAT AND MOUSE IN PARTNERSHIP">Cat And Mouse In Partnership</option>
      <option value="THE GOOSE-GIRL">The Goose-Girl</option>
      <option value="THE ADVENTURES OF CHANTICLEER AND PARTLET">The Adventures Of Chanticleer And Partlet</option>
      <option value="RAPUNZEL">Rapunzel</option>
      <option value="FUNDEVOGEL">Fundevogel</option>
      <option value="THE VALIANT LITTLE TAILOR">The Valiant Little Tailor</option>
      <option value="HANSEL AND GRETEL">Hansel And Gretel</option>
      <option value="THE MOUSE, THE BIRD, AND THE SAUSAGE">The Mouse, The Bird, And The Sausage</option>
      <option value="MOTHER HOLLE">Mother Holle</option>
      <option value="LITTLE RED-CAP [LITTLE RED RIDING HOOD]">Little Red-Cap [Little Red Riding Hood]</option>
      <option value="THE ROBBER BRIDEGROOM">The Robber Bridegroom</option>
      <option value="TOM THUMB">Tom Thumb</option>
      <option value="RUMPELSTILTSKIN">Rumpelstiltskin</option>
      <option value="CLEVER GRETEL">Clever Gretel</option>
      <option value="THE OLD MAN AND HIS GRANDSON">The Old Man And His Grandson</option>
      <option value="THE LITTLE PEASANT">The Little Peasant</option>
      <option value="FREDERICK AND CATHERINE">Frederick And Catherine</option>
      <option value="SWEETHEART ROLAND">Sweetheart Roland</option>
      <option value="SNOWDROP">Snowdrop</option>
      <option value="THE PINK">The Pink</option>
      <option value="CLEVER ELSIE">Clever Elsie</option>
      <option value="THE MISER IN THE BUSH">The Miser In The Bush</option>
      <option value="ASHPUTTEL">Ashputtel</option>
      <option value="THE WHITE SNAKE">The White Snake</option>
      <option value="THE WOLF AND THE SEVEN LITTLE KIDS">The Wolf And The Seven Little Kids</option>
      <option value="THE QUEEN BEE">The Queen Bee</option>
      <option value="THE ELVES AND THE SHOEMAKER">The Elves And The Shoemaker</option>
      <option value="THE JUNIPER-TREE">The Juniper-Tree</option>
      <option value="THE TURNIP">The Turnip</option>
      <option value="CLEVER HANS">Clever Hans</option>
      <option value="THE THREE LANGUAGES">The Three Languages</option>
      <option value="THE FOX AND THE CAT">The Fox And The Cat</option>
      <option value="THE FOUR CLEVER BROTHERS">The Four Clever Brothers</option>
      <option value="LILY AND THE LION">Lily And The Lion</option>
      <option value="THE FOX AND THE HORSE">The Fox And The Horse</option>
      <option value="THE BLUE LIGHT">The Blue Light</option>
      <option value="THE RAVEN">The Raven</option>
      <option value="THE GOLDEN GOOSE">The Golden Goose</option>
      <option value="THE WATER OF LIFE">The Water Of Life</option>
      <option value="THE TWELVE HUNTSMEN">The Twelve Huntsmen</option>
      <option value="THE KING OF THE GOLDEN MOUNTAIN">The King Of The Golden Mountain</option>
      <option value="DOCTOR KNOWALL">Doctor Knowall</option>
      <option value="THE SEVEN RAVENS">The Seven Ravens</option>
      <option value="THE WEDDING OF MRS FOX">The Wedding Of Mrs Fox</option>
      <option value="FIRST STORY">First Story</option>
      <option value="SECOND STORY">Second Story</option>
      <option value="THE SALAD">The Salad</option>
      <option value="THE STORY OF THE YOUTH WHO WENT FORTH TO LEARN WHAT FEAR WAS">The Story Of The Youth Who Went Forth To Learn What Fear Was</option>
      <option value="KING GRISLY-BEARD">King Grisly-Beard</option>
      <option value="IRON HANS">Iron Hans</option>
      <option value="CAT-SKIN">Cat-Skin</option>
      <option value="SNOW-WHITE AND ROSE-RED">Snow-White And Rose-Red</option>
    </select>
  </div>
  <div class="form-group">
    <label for="meeting-time">Choose a time for your reading session:</label>

    <input type="datetime-local" id="meeting-time"
       name="meeting-time" value="2020-03-29T19:30"
       min="2020-03-27T00:00" max="2024-06-14T00:00">

    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>
</main>
